.auto-classes
    .section
        .column.one
            p.section-title !{__('classStandartTitle')}
            p.section-label !{__('classStandartText')}
        .column.two.illustration.auto.yellow(style="background-image: url(/static/images/auto/avto_1.png)")
.section
    .column.one
        p.section-title !{__('classBusinessTitle')}
        p.section-label !{__('classBusinessText')}
    .column.two.illustration.auto(style="background-image: url(/static/images/auto/avto_2.png)")
.section
    .column.one
        p.section-title !{__('classPremiumTitle')}
        p.section-label !{__('classPremiumText')}
    .column.two.illustration.auto.yellow(style="background-image: url(/static/images/auto/avto_3.png)")
