.auto-classes
    .section
        .column.one
            p.section-title= __('personalDriverTitle')
            p.section-label !{__('personalDriverText')}
        .column.two.illustration(style="background-image: url(/static/images/services/personal_driver.jpg)")
    .section
        .column.one
            p.section-title= __('corporateTaxiTitle')
            p.section-label !{__('corporateTaxiText')}
        .column.two.illustration(style="background-image: url(/static/images/services/corp_taxi.jpg)")
    .section
        .column.one
            p.section-title= __('autoNannyTitle')
            p.section-label !{__('autoNannyText')}
        .column.two.illustration(style="background-image: url(/static/images/services/avto_nanny.jpg)")
    .section
        .column.one
            p.section-title= __('minibusTitle')
            p.section-label !{__('minibusText')}
        .column.two.illustration(style="background-image: url(/static/images/services/micro_bus.jpg)")
    .section
        .column.one
            p.section-title= __('courierTitle')
            p.section-label !{__('courierText')}
        .column.two.illustration(style="background-image: url(/static/images/services/curier.jpg)")
    .section
        .column.one
            p.section-title= __('towTruckTitle')
            p.section-label !{__('towTruckText')}
        .column.two.illustration(style="background-image: url(/static/images/services/evacuator.jpg)")