.advantages
    .section
        .column.one
            p.section-title !{__('advantagesTitle')}
            p.section-label !{__('advantagesText')}
        .column.two.illustration(style="background-image: url('/images/advantages/img.jpg')")
    .they-trust
        .h1.light= __('advantages')
        .pros__items
            .pros__item= __('personalPark')
                br
                a.yellow-link-underline= __('viewPhoto')
            .pros__item= __('driversNoSmoking')
            .pros__item= __('noBadWords')
            .pros__item
                a.black-link-underline= __('cleaningSalon')
    .awards
        .h1.light= __('honors')
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title!{__("brend2012")}
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title!{__("transportOlimp")}
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title!{__("goldenFortune")}
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title
                    a.black-link-underline!{__("higherTest")}