.contacts
    .section
        .column.one
            .sub-column.one
                p.section-title !{__('aboutPlacement')}
                p.section-label !{__('forDrivers')}:
                p.section-text (093) 232-94-94
                p.section-label !{__('forDispatchers')}:
                p.section-text (044) 502-35-00
                p.section-title !{__('forTaxiOrder')}
                p.section-text (044)501-5-501 (!{__('manyChannels')})
                p.section-text (044) 391-3-391
                p.section-text (044) 502-54-54
                p.section-text (063) 237-54-54 (!{__('manyChannels')})
                p.section-text (067) 463-54-54
                p.section-text (050) 340-54-54
                p.section-text (068) 382-54-54
            .sub-column.two
                p.section-title !{__('office')}
                p.section-label !{__('ourAddress')}:
                p.section-text !{__('addressLine1')}
                p.section-text !{__('addressLine2')},
                p.section-text !{__('addressLine3')}
                p.section-label !{__('officePhone')}:
                p.section-text (044) 502 35 00
                p.section-label !{__('fax')}:
                p.section-text (044) 55-000-66
                p.section-label e-mail:
                p.section-text taxi@etalontaxi.com.ua
        .column.two.illustration(style="background-image: url(/images/contacts/contact.jpg)")

    ui-gmap-google-map.map(center="map.center", zoom="16")