.for-companies
    .section
        .column.one
            p.section-title !{__('forEnterpriseTitle')}
            p.section-label !{__('forEnterpriseText')}
        .column.two.illustration(style="background-image: url(/images/for-companies/for-companies.png)")
    .they-trust
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title!{__("brend2012")}
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title!{__("transportOlimp")}
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title!{__("goldenFortune")}
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title
                    a.black-link-underline!{__("higherTest")}
    .services-table-wrapper
        table.services-table
            tr
                th.th(rowspan="2")
                    span Услуги
                th(colspan="3") Стоимость услуги для корпоративных клиентов
            tr
                th *Подача, грн.
                th *Тариф в городской черте
                th *Тариф за городом грн./1 км
            tr
                td Перевозка пассажиров в городе до 4 км.
                td бесплатно
                td от 32,00 грн.
                td
            tr
                td Перевозка пассажиров в городе до 4 км.
                td 17,00 если пассажир за городской чертой
                td согласно тарифной сетки
                td 5,00
