.for-companies
    .section
        .column.one
            p.section-title !{__('forEnterpriseTitle')}
            p.section-label !{__('forEnterpriseText')}
        .column.two.illustration(style="background-image: url(/static/images/for-companies/for-companies.png)")
    .they-trust
        .awards__items.no-padd-top
            .awards__item
                img.awards__item-img(src="/static/images/icons/white/1.png")
                .awards__item-title !{__("paymentCashless")}
            .awards__item
                img.awards__item-img(src="/static/images/icons/white/4.png")
                .awards__item-title !{__("timePayment")}
            .awards__item
                img.awards__item-img(src="/static/images/icons/white/2.png")
                .awards__item-title !{__("personalCabinet")}
            .awards__item
                img.awards__item-img(src="/static/images/icons/white/5.png")
                .awards__item-title !{__("warrantyServing")}
    .services-table-wrapper
        table.services-table
            tr
                th.th(rowspan="2")
                    span= __('services')
                th(colspan="2")= __('costToCorporate')
            tr
                th= __('measure')
                th= __('cost')
            tr
                td= __('minCostBedroom')
                td #{__('grn')}
                td 55
            tr
                td= __('minCostCenter')
                td #{__('grn')}
                td 46
            tr
                td= __('flexibleTariff')
                td #{__('grn')}
                td 4,1
            tr
                td= __('outsideKiev')
                td #{__('grn')}
                td 6,84/5,13
            tr
                td= __('hourly')
                td #{__('grn')}
                td 120
            tr
                td= __('microbusMinimal')
                td #{__('grn')}
                td 125
            tr
                td= __('microbusOutsideKiev')
                td #{__('grn')}
                td 7,98/5,99
            tr
                td= __('minPayInKiev')
                td #{__('grn')}
                td 48,00
            tr
                td= __('payPanding')
                td #{__('grn')}/#{__('min')}
                td 0,70
            tr
                td= __('autoUniversal')
                td #{__('grn')}
                td 35,70
            tr
                td= __('additionalPayAutoUniversal')
                td #{__('grn')}
                td 20%
            tr
                td= __('meetWithBoard')
                td #{__('grn')}
                td 34,00
            tr
                td= __('miniBuses')
                td #{__('grn')} #{__('hour')}/#{__('supply')}
                td 110,00
            tr
                td= __('bus')
                td #{__('grn')} #{__('hour')}/#{__('supply')}
                td #{__('withRate')}
            tr
                td= __('courier')
                td #{__('grn')}
                td 35,70
            tr
                td= __('courierWithAddWeight')
                td #{__('to')} 20 #{__('kg')}
                td 30,00
            tr
                td= __('englishDriver')
                td #{__('grn')}
                td 50,00
        h3 #{__('forOrderTaxi')} (044) 501-5-501
