extends ../includes/layout

block main-content
    .header
        //a.login-link.yellow-link(data-ng-href="{{userData ? '/cabinet' : '/#{__('locale')}/login'}}" target="_self")= __('menuCabinet')
        a.logo(href="/#{__('locale')}")
        .header-title= __('onlineOrder')
        .contacts-panel
            .h1.text-yellow.light 808
            .h5.text-white= __('mobileCallsFree')
            .h3.text-yellow (067) 463-54-54
            .contacts-panel__hr
            .h5.text-white= __('enterPhone')
            .contacts-panel__number(data-ng-show="sendPhone.error")
                .h5.text-white= __('error')
            .contacts-panel__number(data-ng-show="sendPhone.success")
                .h5.text-white= __('ready')
            .contacts-panel__number(data-ng-hide="sendPhone.success || sendPhone.error")
                input.contacts-panel__number-placeholder(data-mask="(999) 999-99-99" placeholder="(___) ___-__-__" data-ng-model="sendPhone.number")
                .contacts-panel__send-number-btn(data-ng-click="sendPhone.send()")
            p.contacts-panel__order-skype= __('orderThroughSkype')
            p.h5.text-white= __('allContacts')
            .contacts-panel__additional-numbers(ng-class="{expanded: isExpanded}")
                .text-yellow.h3 (067) 463-54-54
                .text-yellow.h3 (050) 340-54-54
            .contacts-panel__expand-btn(ng-class="{collapse: isExpanded}", ng-click="isExpanded = !isExpanded")
        .auto-class-panel
            div.choose-auto(data-ng-show="!orderSuccess && chooseAutoClassAvailable && !loading.searchAuto")
                .auto-class-panel__choose= __('selectClassCars')
                    span {{application.CarClass}}
                .auto-class-panel__items
                    span(ng-repeat="(key, value) in autoTypes")
                        input(type="radio" value="{{value.type}}" id="car-choose-head-{{value.type}}" ng-model="application.CarClass" hidden)
                        label.auto-class-panel__item(for="car-choose-head-{{value.type}}" ng-class="{active: application.CarClass == value.type}")
                            img(data-ng-src="/static/images/auto-{{value.type}}.png")
                            .auto-class-panel__item-title {{value.label}}
            div.make-to-tel(data-ng-show="!orderSuccess && !chooseAutoClassAvailable && !loading.searchAuto")
                p.title= __('orderThroughTel')
            div.search-auto(data-ng-show="!orderSuccess && loading.searchAuto")
                p.title= __('searchAuto')
                div.svg-loader-wrapper
                    img.svg-loader(src="/static/images/svg-loaders/puff.svg")
                button.order-form__order-btn(ng-click="cancelOrder()")= __('cancel')
            div.parameters-auto(data-ng-show="orderSuccess")
                p.title= __('paramtersAuto')
                .table
                    .cell.one
                        .img-wrapper
                            img.auto(src="/static/images/car.png")
                            img.bred(src="/static/images/bred-pit.png")
                            img.number(src="/static/images/number.png")
                            span.number-text {{orderSuccess.CarNumber[0] + orderSuccess.CarNumber[1] + ' ' + orderSuccess.CarNumber[2] + orderSuccess.CarNumber[3] + orderSuccess.CarNumber[4] + orderSuccess.CarNumber[5] + ' ' + + orderSuccess.CarNumber[6] + orderSuccess.CarNumber[7]}}
                    .cell.two
                        ul.order-info
                            li.item
                                span.info-label= __('auto') + ': '
                                span.info-value {{orderSuccess.CarmakerModel}}
                            li.item
                                span.info-label= __('driver_v2')+ ': '
                                span.info-value {{orderSuccess.DriverName}}
    .sidebar
        a.sidebar__order-btn(href="/#{__('locale')}")= __('orderTaxi')
        .sidenav
            a.white-link(href="/#{__('locale')}{{item.link}}" class="sidenav__item sidenav__item_{{item.cssClass}}" data-ng-class="{active: location == '/#{__('locale')}' + item.link || (item.link == '/' && location == '/#{__('locale')}')}" data-ng-repeat="item in menu") {{item.name['#{__('locale')}']}}
        a.sidebar__fb.white-link(href="https://www.facebook.com/pages/%D0%AD%D1%82%D0%B0%D0%BB%D0%BE%D0%BD-%D1%82%D0%B0%D0%BA%D1%81%D0%B8/1391524617843129")= __('ourFacebook')
        .flags
            a.flags__ru(href="/ru" target="_self")
            a.flags__ua(href="/ua" target="_self")
            a.flags__gb(href="/en" target="_self")
        .copyright © 2015 #{__('etalonTaxi')}
        .payment-ways
            img.payment-ways__item(src="/static/images/mc.png")
            img.payment-ways__item(src="/static/images/visa.png")
            .payment-ways__text= __('payWithCard')
    .main(ng-view)