.how-to-pay
.section
    .column.one
        p.section-title !{__('paymentCashTitle')}
        p.section-label !{__('paymentCashText')}
    .column.two.illustration(style="background-image: url(/static/images/how-to-pay/grivna.png)")
.section
    .column.one
        p.section-title !{__('paymentCashlessTitle')}
        p.section-label !{__('paymentCashlessText')}
    .column.two.illustration(style="background-image: url(/static/images/how-to-pay/pencil.jpg)")
.section
    .column.one
        p.section-title !{__('paymentCardTitle')}
        p.section-label !{__('paymentCardText')}
    .column.two.illustration(style="background-image: url(/static/images/how-to-pay/cards.jpg)")
