ui-gmap-google-map.map(center="map.center", zoom="16")
.order-form
    .order-form__left-side
        .order-form__left-side-inner
            .order-form__wherefrom-title= __('whereSubmitCar')
            .order-form__wherefrom-inputs
                input.order-form__wherefrom-street(placeholder="#{__('namePointPlaceholder')}", type="text", ng-model="application.from.address", typeahead="state for state in regions | filter:$viewValue | limitTo:8")
                input.order-form__whereto-house(type="text", ng-model="whereToHouse", placeholder="#{__('numberHouse')}", ng-disabled="withoutFinalPoint" typeahead="state for state in regions | filter:$viewValue | limitTo:8")
            div.to-point(data-ng-repeat="item in application.to")
                .order-form__whereto-title= __('destinationPoint')
                .order-form__whereto-inputs
                    input.order-form__whereto-street(placeholder="#{__('namePointPlaceholder')}" type="text", ng-model="item.address", ng-disabled="withoutFinalPoint", typeahead="state for state in regions | filter:$viewValue | limitTo:8")
                    input.order-form__whereto-house(type="text", ng-model="whereToHouse", placeholder="#{__('numberHouse')}", ng-disabled="withoutFinalPoint" typeahead="state for state in regions | filter:$viewValue | limitTo:8")
            button.add-new-pint(ng-disabled="withoutFinalPoint" data-ng-click="addNewPoint()") +
            .order-form__without-final
                input(type="checkbox", id="withoutFinalPoint", ng-model="withoutFinalPoint")
                label(for="withoutFinalPoint")= __('tripWtihoutDestination')
            .order-form__additional-requirements
                button.order-form__additional-requirements-button(ng-class="{expanded: additionalRequirementsExpanded}", ng-click="additionalRequirementsExpanded = !additionalRequirementsExpanded")= __('listAdditionalServices')
                .order-form__additional-requirements-list(ng-class="{expanded: additionalRequirementsExpanded}")
                    .col-md-6
                        .order-form__additional-requirements-side-title= __('driverAndCar')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_exp10", ng-model="additionalRequirements.exp10")
                            label(for="additionalRequirements_exp10")= __('experience10')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_eng", ng-model="additionalRequirements.eng")
                            label(for="additionalRequirements_eng")= __('speakEnglish')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_truck", ng-model="additionalRequirements.truck")
                            label(for="additionalRequirements_truck")= __('freightCar')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_truck", ng-model="additionalRequirements.truck")
                            label(for="additionalRequirements_truck")= __('econom')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_truck", ng-model="additionalRequirements.truck")
                            label(for="additionalRequirements_truck")= __('comfort')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_truck", ng-model="additionalRequirements.truck")
                            label(for="additionalRequirements_truck")= __('limusin')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_manypeople", ng-model="additionalRequirements.manypeople")
                            label(for="additionalRequirements_manypeople")= __('manyMans')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_smoking", ng-model="additionalRequirements.smoking")
                            label(for="additionalRequirements_smoking")= __('canBeSmoke')
                    .col-md-6
                        .order-form__additional-requirements-side-title= __('services')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_cardpayment", ng-model="additionalRequirements.cardpayment")
                            label(for="additionalRequirements_cardpayment")= __('payCard')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_child", ng-model="additionalRequirements.child")
                            label(for="additionalRequirements_child")= __('babySeat')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_animals", ng-model="additionalRequirements.animals")
                            label(for="additionalRequirements_animals")= __('transportationOfPets')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_nameplate", ng-model="additionalRequirements.nameplate")
                            label(for="additionalRequirements_nameplate")= __('meetingWithTheBoard')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_courier", ng-model="additionalRequirements.courier")
                            label(for="additionalRequirements_courier")= __('courier')
                        .order-form__additional-requrement
                            input(type="checkbox", id="additionalRequirements_driver", ng-model="additionalRequirements.driver")
                            label(for="additionalRequirements_driver")= __('driver')
            .order-form-phone-title(ng-show="toShowNumber()") Ваш номер телефона
            .order-form__phone-container
                input.order-form__phone(type="text", ng-model="phone", placeholder="введите Ваш контактный телефон", ng-show="toShowNumber()")
    .order-form__right-side
        .order-form__cost-title= __('tripCost')
        .order-form__cost-after(ng-show="withoutFinalPoint")= __('costAfterTrip')
        .order-form__counter(ng-show="!withoutFinalPoint")
            .order-form__counter-digit {{price.firstDigit}}
            .order-form__counter-digit {{price.secondDigit}}
            .order-form__counter-digit {{price.thirdDigit}}
            .order-form__counter-text= __('grivnas')
        .order-form__corporate(ng-show="!haveACard")
            input(type="checkbox", id="isCorporate", ng-model="isCorporate")
            label(for="isCorporate")= __('iAmEnterprise')
        div(ng-show="isCorporate")
            input(type="text", placeholder="#{__('youCashlessCode')}").order-form__cashless-code
            div.order-form__corporate
                input(type="checkbox", id="isVoucher", ng-model="isVoucher")
                label(for="isVoucher") #{__('voucher')}, #{__('lastName')}
                div.order-form__corporate(ng-show="isVoucher")
                    div.order-form__corporate
                        input(type="text", placeholder="#{__('voucher')}").order-form__card-code
                    div.order-form__corporate
                        input(type="text", placeholder="#{__('lastName')}").order-form__card-code
        .order-form__have-a-card(ng-show="!isCorporate")
            input(type="checkbox", id="haveACard", ng-model="haveACard")
            label(for="haveACard") #{__('saleCard')}
        div(ng-show="haveACard")
            input(type="text", placeholder="#{__('cardCode')}").order-form__card-code
        button.order-form__order-btn(ng-click="order()")= __('order')
        .order-form__payment-methods
            img.order-form__payment-methods-img(src="/static/images/mc.png")
            img.order-form__payment-methods-img(src="/static/images/visa.png")
            .order-form__payment-methods-text= __('payBankCard')
.pros
    .h1.light= __('advantages')
    .pros__items
        .pros__item
            img.pros__item-img(src="/static/images/icons/yellow/park.png")
            = __('personalPark')
        .pros__item
            img.pros__item-img(src="/static/images/icons/yellow/no-smoking.png")
            = __('driversNoSmoking')
        .pros__item
            img.pros__item-img(src="/static/images/icons/yellow/bad-word.png")
            = __('noBadWords')
        .pros__item
            img.pros__item-img(src="/static/images/icons/yellow/cleaning.png")
            a.black-link-underline= __('cleaningSalon')
.they-trust
    .h1.light= __('trustUs')
    .they-trust__imgs
        img.they-trust__img(src="/static/images/kyivstar.png")
        img.they-trust__img(src="/static/images/mts.png")
        img.they-trust__img(src="/static/images/kyivstar.png")
        img.they-trust__img(src="/static/images/mts.png")
.awards
    .h1.light= __('honors')
    .awards__items
        .awards__item
            img.awards__item-img(src="/static/images/brend_roku.png")
            .awards__item-title !{__("brend2012")}
        .awards__item
            img.awards__item-img(src="/static/images/brend_roku.png")
            .awards__item-title !{__("transportOlimp")}
        .awards__item
            img.awards__item-img(src="/static/images/brend_roku.png")
            .awards__item-title !{__("goldenFortune")}
        .awards__item
            img.awards__item-img(src="/static/images/brend_roku.png")
            .awards__item-title
                a.black-link-underline !{__("higherTest")}