ui-gmap-google-map.map(center="map.center", zoom="16")
.order-form
    div
        .order-form__left-side
            .order-form__left-side-inner(data-ng-show="orderSuccess")
                h1.thank-title= __('thankPageText')
            .order-form__left-side-inner(data-ng-show="!orderSuccess")
                .order-form__wherefrom-title= __('whereSubmitCar')
                .order-form__wherefrom-inputs
                    input.order-form__wherefrom-street(placeholder="#{__('namePointPlaceholder')}", type="text", ng-model="application.StreetName", typeahead="state for state in regions | filter:$viewValue | limitTo:8")
                    input.order-form__whereto-house(type="text", ng-model="application.House", placeholder="#{__('numberHouse')}",)
                div.to-point(data-ng-repeat="item in application.OrderPoints")
                    .order-form__whereto-title(data-ng-style="{'background-image': $index < application.OrderPoints.length - 1 ? 'url(/static/images/icons/point-c.png)': 'url(/static/images/icons/point-b.png)'}")= __('destinationPoint')
                    .order-form__whereto-inputs
                        input.order-form__whereto-street(placeholder="#{__('namePointPlaceholder')}" type="text", data-ng-init="item.Number = $index + 1" ng-model="item.StreetName", ng-disabled="application.withoutFinalPoint", typeahead="state for state in regions | filter:$viewValue | limitTo:8")
                        input.order-form__whereto-house(type="text", ng-model="item.House", placeholder="#{__('numberHouse')}", ng-disabled="application.withoutFinalPoint")
                button.add-new-pint(ng-disabled="application.withoutFinalPoint" data-ng-click="addNewPoint()") +
                .order-form__without-final
                    input(type="checkbox", id="application.withoutFinalPoint", ng-model="application.withoutFinalPoint")
                    label(for="application.withoutFinalPoint")= __('tripWtihoutDestination')
                .order-form__additional-requirements
                    button.order-form__additional-requirements-button(ng-class="{expanded: additionalRequirementsExpanded}", ng-click="additionalRequirementsExpanded = !additionalRequirementsExpanded")= __('listAdditionalServices')
                    .order-form__additional-requirements-list(ng-class="{expanded: additionalRequirementsExpanded}")
                        .col-md-6
                            .order-form__additional-requirements-side-title= __('driverAndCar')
                            .order-form__additional-requrement
                                input(type="checkbox", id="additionalRequirements_exp10", ng-model="add1")
                                label(for="additionalRequirements_exp10")= __('experience10')
                            .order-form__additional-requrement
                                input(type="checkbox", id="additionalRequirements_eng", ng-model="add2" ng-change="toggleOrderType(15)")
                                label(for="additionalRequirements_eng")= __('speakEnglish')
                            .order-form__additional-requrement
                                input(type="radio", id="freightCar", ng-model="application.CarClass" value="9")
                                label(for="freightCar")
                                label(for="freightCar")= __('freightCar')
                            .order-form__additional-requrement
                                input(type="radio", id="econom", ng-model="application.CarClass" value="1")
                                label(for="econom")
                                label(for="econom")= __('econom')
                            .order-form__additional-requrement
                                input(type="radio", id="comfort", ng-model="application.CarClass" value="2")
                                label(for="comfort")
                                label(for="comfort")= __('comfort')
                            .order-form__additional-requrement
                                input(type="radio", id="limusin", ng-model="application.CarClass" value="6")
                                label(for="limusin")
                                label(for="limusin")= __('limusin')
                            .order-form__additional-requrement
                                input(type="radio", id="manyMans", ng-model="application.CarClass" value="7")
                                label(for="manyMans")
                                label(for="manyMans")= __('manyMans')
                            .order-form__additional-requrement
                                input(type="checkbox", id="additionalRequirements_smoking", ng-model="add3" ng-change="toggleOrderType(2)")
                                label(for="additionalRequirements_smoking")= __('canBeSmoke')
                        .col-md-6
                            .order-form__additional-requirements-side-title= __('services')
                            .order-form__additional-requrement
                                input(type="checkbox", id="additionalRequirements_cardpayment", ng-model="application.PayType" value="1")
                                label(for="additionalRequirements_cardpayment")= __('payCard')
                            .order-form__additional-requrement
                                input(type="checkbox", id="additionalRequirements_child", ng-model="add4" ng-change="toggleOrderType(9)")
                                label(for="additionalRequirements_child")= __('babySeat')
                            .order-form__additional-requrement
                                input(type="checkbox", id="additionalRequirements_animals", ng-model="add5" ng-change="toggleOrderType(11)")
                                label(for="additionalRequirements_animals")= __('transportationOfPets')
                            .order-form__additional-requrement
                                input(type="checkbox", id="additionalRequirements_nameplate", ng-model="add6" ng-change="toggleOrderType(3)")
                                label(for="additionalRequirements_nameplate")= __('meetingWithTheBoard')
                            .order-form__additional-requrement
                                input(type="checkbox", id="additionalRequirements_courier", ng-model="add7" ng-change="toggleOrderType(7)")
                                label(for="additionalRequirements_courier")= __('courier')
                            .order-form__additional-requrement
                                input(type="checkbox", id="additionalRequirements_driver", ng-model="add7" ng-change="toggleOrderType(3)")
                                label(for="additionalRequirements_driver")= __('driver')
                .order-form-phone-title(ng-show="toShowNumber") Ваш номер телефона
                .order-form__phone-container
                    input.order-form__phone(type="text", ng-model="application.Client.Phone", placeholder="введите Ваш контактный телефон", ng-show="toShowNumber")
        .order-form__right-side
            .order-form__cost-title= __('tripCost')
            .order-form__cost-after(ng-show="application.withoutFinalPoint")= __('costAfterTrip')
            .order-form__counter(ng-show="!application.withoutFinalPoint")
                .order-form__counter-digit {{orderData.price[orderData.price.length - 3] || 0}}
                .order-form__counter-digit {{orderData.price[orderData.price.length - 2] || 0}}
                .order-form__counter-digit {{orderData.price[orderData.price.length - 1] || 0}}
                .order-form__counter-text= __('grivnas')
            div(data-ng-show="!orderSuccess")
                .order-form__corporate(ng-show="!haveACard")
                    input(type="checkbox", id="isCorporate", ng-model="isCorporate")
                    label(for="isCorporate")= __('iAmEnterprise')
                div(ng-show="isCorporate")
                    input(type="text", ng-model="application.NonCashCardNum", placeholder="#{__('youCashlessCode')}").order-form__cashless-code
                    div.order-form__corporate
                        input(type="checkbox", id="isVoucher", ng-model="isVoucher")
                        label(for="isVoucher") #{__('voucher')}, #{__('lastName')}
                        div.order-form__corporate(ng-show="isVoucher")
                            div.order-form__corporate
                                input(type="text", placeholder="#{__('voucher')}").order-form__card-code
                            div.order-form__corporate
                                input(type="text", placeholder="#{__('lastName')}").order-form__card-code
                .order-form__have-a-card(ng-show="!isCorporate")
                    input(type="checkbox", id="haveACard", ng-model="haveACard")
                    label(for="haveACard") #{__('saleCard')}
                div(ng-show="haveACard")
                    input(type="text", placeholder="#{__('cardCode')}" ng-model="application.LoyalCardNum").order-form__card-code
                button.order-form__order-btn(ng-click="order()")= __('order')
                .order-form__payment-methods
                img.order-form__payment-methods-img(src="/static/images/mc.png")
                img.order-form__payment-methods-img(src="/static/images/visa.png")
                .order-form__payment-methods-text= __('payBankCard')
            div.order-result(data-ng-show="orderSuccess")
                .order-form__cost-title= __('pendingAutoTime')
                .order-form__counter
                    .order-form__counter-digit {{orderSuccess.PlannedPending[0]}}
                    .order-form__counter-digit {{orderSuccess.PlannedPending[1]}}
                    span.two-dotted :
                    .order-form__counter-digit {{((orderSuccess.PlannedPending[3] + orderSuccess.PlannedPending[4]) * 60 / 100).toString()[0]}}
                    .order-form__counter-digit {{((orderSuccess.PlannedPending[3] + orderSuccess.PlannedPending[4]) * 60 / 100).toString()[1]}}
                .points-labels
                    span.minutes= __('minutes')
                    span.seconds= __('seconds')
                button.order-form__order-btn(ng-click="cancelOrder()")= __('cancel')

    div.loader-overlay(data-ng-show="loading.firstLoad || loading.searchAuto")
.pros
    .h1.light= __('advantages')
    .pros__items
        .pros__item
            img.pros__item-img(src="/static/images/icons/yellow/park.png")
            = __('personalPark')
        .pros__item
            img.pros__item-img(src="/static/images/icons/yellow/no-smoking.png")
            = __('driversNoSmoking')
        .pros__item
            img.pros__item-img(src="/static/images/icons/yellow/bad-word.png")
            = __('noBadWords')
        .pros__item
            img.pros__item-img(src="/static/images/icons/yellow/cleaning.png")
            a.black-link-underline= __('cleaningSalon')
.they-trust
    .h1.light= __('trustUs')
    .they-trust__imgs
        img.they-trust__img(src="/static/images/kyivstar.png")
        img.they-trust__img(src="/static/images/mts.png")
        img.they-trust__img(src="/static/images/kyivstar.png")
        img.they-trust__img(src="/static/images/mts.png")
.awards
    .h1.light= __('honors')
    .awards__items
        .awards__item
            img.awards__item-img(src="/static/images/brend_roku.png")
            .awards__item-title !{__("brend2012")}
        .awards__item
            img.awards__item-img(src="/static/images/brend_roku.png")
            .awards__item-title !{__("transportOlimp")}
        .awards__item
            img.awards__item-img(src="/static/images/brend_roku.png")
            .awards__item-title !{__("goldenFortune")}
        .awards__item
            img.awards__item-img(src="/static/images/brend_roku.png")
            .awards__item-title
                a.black-link-underline !{__("higherTest")}